<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <link rel="icon" th:href="@{/img/icon.png}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/global.css}" />
    <title>个人主页</title>
</head>
<body>
<div class="nk-container">
    <!-- 头部 -->
    <header class="bg-dark sticky-top" th:replace="index::header">
    </header>

    <!-- 内容 -->
    <div class="main">
        <div class="container">
            <!-- 选项 -->
            <div class="position-relative">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{|/user/profile/${user.id}|}">个人信息</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{|/user/mypost/${user.id}|}" th:text="${loginUser==null||loginUser.id!=user.id?'TA的帖子':'我的帖子'}">我的帖子</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{|/user/myreply/${user.id}|}" th:text="${loginUser==null||loginUser.id!=user.id?'TA的回复':'我的回复'}">我的回复</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{|/user/mylikes/${user.id}|}" th:text="${loginUser==null||loginUser.id!=user.id?'TA赞过的':'我赞过的'}"></a>
                    </li>
                </ul>
                <a th:href="@{|/user/profile/${user.id}|}" class="text-muted position-absolute rt-0">返回个人主页&gt;</a>
            </div>
            <!-- 判空 -->
            <div th:if="${#lists.isEmpty(discussPosts)}">
                <img th:src="@{/img/noResult.png}" alt="无私信" class="img-fluid mx-auto d-block mt-4">
                <p class="text-center mt-3">还没有赞过帖子哦~</p>
            </div>
            <!-- 我的帖子 -->
            <div class="mt-4">
                <h6><b class="square"></b> 赞过的帖子(<i th:text="${page.rows}">93</i>)</h6>
                <ul class="list-unstyled mt-4 pl-3 pr-3">
                    <li class="border-bottom pb-3 mt-4" th:each="map:${discussPosts}">
                        <div class="font-size-16 text-info">
                            <a th:href="@{|/discuss/detail/${map.post.id}|}" class="text-info" th:utext="${map.post.title}">文章标题</a>
                            <br>
                            <a th:href="@{|/discuss/detail/${map.post.id}|}">
                                <div class="text-right font-size-12 text-muted">
                                    看过 <i class="mr-3" th:text="${map.postReadCount}"></i>
                                    赞 <i class="mr-3" th:text="${map.likeCount}"></i>
                                    评论 <i class="mr-3" th:text="${map.post.commentCount}"></i>
                                    发布于 <b th:text="${#dates.format(map.post.createTime,'yyyy-MM-dd HH:mm:ss')}"></b>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
                <!-- 分页 -->
                <nav class="mt-5" th:replace="index::pagination">
                </nav>
            </div>
        </div>
    </div>

    <!-- 尾部 -->
    <footer class="bg-dark" th:replace="index::footer">
    </footer>
</div>

<script th:src="@{/js/jquery-3.1.0.min.js}"></script>
<script type="module" th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/global.js}"></script>
</body>
</html>
