<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="https://static.nowcoder.com/images/logo_87_87.png"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/global.css" />
	<title>牛客网-个人主页</title>
</head>
<body>
	<div class="nk-container">
		<!-- 头部 -->
		<header class="bg-dark sticky-top">
		</header>

		<!-- 内容 -->
		<div class="main">
			<div class="container">
				<!-- 选项 -->
				<div class="position-relative">
					<ul class="nav nav-tabs">
						<li class="nav-item">
							<a class="nav-link" href="profile.html">个人信息</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="my-post.html">我的帖子</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" href="my-reply.html">我的回复</a>
						</li>
					</ul>
					<a href="profile.html" class="text-muted position-absolute rt-0">返回个人主页&gt;</a>
				</div>
				<!-- 我的回复 -->
				<div class="mt-4">
					<h6><b class="square"></b> 回复的帖子(379)</h6>
					<ul class="list-unstyled mt-4 pl-3 pr-3">
						<li class="border-bottom pb-3 mt-4">
							<div class="font-size-16 text-info">
								<a href="#" class="text-info">备战春招，面试刷题跟他复习，一个月全搞定！</a>
							</div>
							<div class="mt-1 font-size-14">
								顶顶顶!								
							</div>
							<div class="text-right font-size-12 text-muted">
								回复于 <b>2019-04-15 10:10:10</b>
							</div>
						</li>
						<li class="border-bottom pb-3 mt-4">
							<div class="font-size-16 text-info">
								<a href="#" class="text-info">备战春招，面试刷题跟他复习，一个月全搞定！</a>
							</div>
							<div class="mt-1 font-size-14">
								顶顶顶!								
							</div>
							<div class="text-right font-size-12 text-muted">
								回复于 <b>2019-04-15 10:10:10</b>
							</div>
						</li>
						<li class="border-bottom pb-3 mt-4">
							<div class="font-size-16 text-info">
								<a href="#" class="text-info">备战春招，面试刷题跟他复习，一个月全搞定！</a>
							</div>
							<div class="mt-1 font-size-14">
								顶顶顶!								
							</div>
							<div class="text-right font-size-12 text-muted">
								回复于 <b>2019-04-15 10:10:10</b>
							</div>
						</li>
						<li class="border-bottom pb-3 mt-4">
							<div class="font-size-16 text-info">
								<a href="#" class="text-info">备战春招，面试刷题跟他复习，一个月全搞定！</a>
							</div>
							<div class="mt-1 font-size-14">
								顶顶顶!								
							</div>
							<div class="text-right font-size-12 text-muted">
								回复于 <b>2019-04-15 10:10:10</b>
							</div>
						</li>
						<li class="border-bottom pb-3 mt-4">
							<div class="font-size-16 text-info">
								<a href="#" class="text-info">备战春招，面试刷题跟他复习，一个月全搞定！</a>
							</div>
							<div class="mt-1 font-size-14">
								顶顶顶!								
							</div>
							<div class="text-right font-size-12 text-muted">
								回复于 <b>2019-04-15 10:10:10</b>
							</div>
						</li>
						<li class="border-bottom pb-3 mt-4">
							<div class="font-size-16 text-info">
								<a href="#" class="text-info">备战春招，面试刷题跟他复习，一个月全搞定！</a>
							</div>
							<div class="mt-1 font-size-14">
								顶顶顶!								
							</div>
							<div class="text-right font-size-12 text-muted">
								回复于 <b>2019-04-15 10:10:10</b>
							</div>
						</li>
						<li class="border-bottom pb-3 mt-4">
							<div class="font-size-16 text-info">
								<a href="#" class="text-info">备战春招，面试刷题跟他复习，一个月全搞定！</a>
							</div>
							<div class="mt-1 font-size-14">
								顶顶顶!								
							</div>
							<div class="text-right font-size-12 text-muted">
								回复于 <b>2019-04-15 10:10:10</b>
							</div>
						</li>
						<li class="border-bottom pb-3 mt-4">
							<div class="font-size-16 text-info">
								<a href="#" class="text-info">备战春招，面试刷题跟他复习，一个月全搞定！</a>
							</div>
							<div class="mt-1 font-size-14">
								顶顶顶!								
							</div>
							<div class="text-right font-size-12 text-muted">
								回复于 <b>2019-04-15 10:10:10</b>
							</div>
						</li>
						<li class="border-bottom pb-3 mt-4">
							<div class="font-size-16 text-info">
								<a href="#" class="text-info">备战春招，面试刷题跟他复习，一个月全搞定！</a>
							</div>
							<div class="mt-1 font-size-14">
								顶顶顶!								
							</div>
							<div class="text-right font-size-12 text-muted">
								回复于 <b>2019-04-15 10:10:10</b>
							</div>
						</li>
						<li class="border-bottom pb-3 mt-4">
							<div class="font-size-16 text-info">
								<a href="#" class="text-info">备战春招，面试刷题跟他复习，一个月全搞定！</a>
							</div>
							<div class="mt-1 font-size-14">
								顶顶顶!								
							</div>
							<div class="text-right font-size-12 text-muted">
								回复于 <b>2019-04-15 10:10:10</b>
							</div>
						</li>																																																
					</ul>
					<!-- 分页 -->
					<nav class="mt-5">
					</nav>					
				</div>				
			</div>
		</div>

		<!-- 尾部 -->
		<footer class="bg-dark">
		</footer>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script src="../js/global.js"></script>
</body>
</html>
